@model IEnumerable<WebAppGen.Model.Entities.Country>

@{
    ViewBag.Title = "ListaJQuery";
}
<h2>ListaJQuery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="data-table-ajax-pagintation" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script type="text/javascript">
$(document).ready(function () {
            //https://codepen.io/RedJokingInn/pen/MbNMry
            //https://codepen.io/RedJokingInn/pen/PbrqWa
            //Invocamos el plug-in DataTable , indicamos que el procesamiento lo realizara a través del servidor,
            //indicamos el método y las columnas que se van a mostrar en nuestra tabla
                 $('#data-table-ajax-pagintation').DataTable({
                     dom: 'Bfrtip',
                     buttons: [
                         { extend: 'excelHtml5', exportOptions: { columns: [1] } },
                         { extend: 'copyHtml5', exportOptions: { columns: [1] } },
                         { extend: 'print', exportOptions: { columns: [1] } },
                         { extend: 'pdfHtml5', exportOptions: { columns: [1] } }
                        // 'colvis'
                     ],
                "language": {"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"},
                "processing": true,
                "serverSide": true,
                "ajax": "/Countries/LoadDataTable",
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "Name" }
                ]
                ,
                aoColumnDefs: [{
                     "aTargets": [2],
                     "mData": "Id",
                     "mRender": function (data, type, full) {
                         return '<a class = "btn btn-xs btn-default" style="width:60px" href=' +'@Url.Action("Edit", "Countries")?Id=' + data +'>Editar</a>';
                     }
                  },{
                     "aTargets": [3],    //Detail column
                     "mData": "Id",
                     "mRender": function (data, type, full) {
                         return '<a class = "btn btn-xs btn-default" style="width:60px" href=' + '@Url.Action("Details", "Countries")?Id=' + data +'>Detalle</a>';
                     }
                  },{
                     "aTargets": [4],    //Delete column
                     "mData": "Id",
                     "mRender": function (data, type, full) {
                         return '<a class = "btn btn-xs btn-default" style="width:60px" href=' +'@Url.Action("Delete", "Countries")?Id=' + data +'>Eliminar</a>';
                     }
                        }],
                   

            });
        });</script>
}
